<section class="landing-area">
  <h1 class="heading-primary">Welcome to BriteCore!</h1>
  <p>Web-Based Insurance Processing Suite BriteCore is an enterprise-level insurance processing suite.
    Built from the ground up using the latest in modern technology, BriteCore combines core, data,
    and digital solutions into a single platform. Deployed using the Amazon Web Services cloud,
    BriteCore is continually updated to guarantee maximum security, efficiency, and durability at scale.
    Insurance carriers, MGAs, and start-ups rely on BriteCore to increase speed to market, improve competitive
    position, and support growth.</p>
</section>
