//Font Size
$default-font-size: 1.2rem;

//Colors
$color-primary: #007e94;
$color-primary-dark: #004953;
$color-primary-light: #eef5f5;

$color-bg: #ffffff;
$color-bg-dark: #f9fbfb;

$color-text: #779095;
