<section class="row field-details">
  <section class="field-details__form col-9">
    <h3 class="heading-tertiary">Field Details</h3>
    <form class="row" (ngSubmit)="onAppDetails()" #f="ngForm">
      <div class="col-md-6">
        <div class="form-group">
          <label for="label">Display Label</label>
          <input
            type="text"
            id="label"
            name="label"
            class="form-control"
            ngModel
            required
            #label="ngModel"
            [(ngModel)]="labelText"
          >
          <p class="text__info">For display purposes, spaces allowed</p>
          <span class="text__info--red" *ngIf="!label.valid && label.touched">Please enter a valid label!</span>
        </div>
        <div class="form-group">
          <label for="value">Default Value</label>
          <input
            type="{{ inputType }}"
            id="value"
            name="value"
            class="form-control"
            ngModel
            required
            #value="ngModel"
          >
          <span class="text__info--red" *ngIf="!value.valid && value.touched">Please enter a valid value!</span>
        </div>
        <div class="form-group">
          <label for="validate">Custom Validation</label>
          <input type="text" id="validate" name="validate" class="form-control" ngModel>
          <p class="text__info">Any reges pattern can be used for custom input validation</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="reference">Reference Name</label>
          <input
            type="text"
            id="reference"
            name="reference"
            class="form-control"
            ngModel
            value = '{{ (labelText) ? labelText.replace(regexp, replacer) : "" }}'
          >
          <p class="text__info">Used to reference in calculations, no spaces allowed</p>
        </div>
      </div>
      <div class="container field-details__action">
        <button type="submit" class="btn btn--primary" [disabled]="!f.valid">Save Changes</button>
        <div class="float-right">
          <button type="button" class="btn btn--default" (click)="onCancelChanges()">Cancel Changes</button>
          <button type="button" class="btn btn-danger" (click)="onDeleteInput()">Delete Input</button>
        </div>
      </div>
    </form>

    <app-tag-group></app-tag-group>
  </section>
  <section class="field-groups col-xs-12 col-md-3">
    <app-field-groups></app-field-groups>
  </section>
</section>

